header {

}
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 0px;
    background-color: #232323;
    padding: 50px 0px 20px;
    color: white;
}
footer .info {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer .copy { 
    text-align: center; 
}

.topmenubar {
    background-color: rgb(46, 46, 46);
    
}
.sidebarbox {
    background: linear-gradient(to right, rgb(67, 193, 231), rgb(213, 227, 231));
}
.sidebarbox {
    position: relative;
    width: 240px;
    height: 100vh;
}
.sidebar {
    width: 240px;
    height: 100vh;
}
.announcement .ann {
    width: 900px;
    height: 300px;
    justify-content: center;
    padding: 0 50px;
}
.announcement .ann .btn {
    
}

.registrationupdate .inner { 
    width: 90%;
    padding: 100px;
    margin-bottom: 40px;
}
/* 제목 영역 */
.main-title { margin-bottom: 40px; }
.main-title h1 { font-size: 30px; }
.main-title p { font-size: 20px; }
/* 텍스트 입력 */
.input-text {
    width: 90%;
    font-size: 32px;
    margin: 0 10px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
 }
 
