/* 글씨체 */
@font-face {
    font-family: 'MB1';
    src: url('../TFF/MClassic_TTF.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BRUSHSCI';
    src: url('../TFF/BRUSHSCI_TTF.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
h2.py-1 {
    font-family: '굴림체', sans-serif; 
    font-weight: bold; 
    font-size: 40px; 
    
}
h2.py-3 {
    font-family: 'MB1', sans-serif; 
    font-weight: bold; 
    font-size: 36px;     
}

/* 사이드바 글씨체 */
.btn.d-inline-flex.align-items-center.collapsed.border-0 {
        font-family: 'BRUSHSCI', sans-serif;}
        
  

header {

}

body {
    
}
footer {
    width:auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 0px;
    background-color: #232323;
    padding: 50px 0px 20px;
    color: white;
    position: relative;
    z-index: 999;
}

footer .info {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer .copy { 
    text-align: center; 
}

.topmenubar {
    background-color: rgb(46, 46, 46);
    
    
}
.sidebarbox {
    background: linear-gradient(to right, rgb(67, 193, 231), rgb(213, 227, 231));
}
.sidebarbox {
    position: relative;
    width: 240px;
    height: 100vh;
}
.sidebar {
    width: 240px;
    height: 100vh;
}
.announcement .material {
    width: 900px;
    height: auto;
    justify-content: center;
    padding: 0 50px;
}

/* section - recent */
#recent { background-color: var(--main); }
#recent .card-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    position: relative;
    z-index: 997;
}
#recent .card-list .card {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#recent .card-list .card .img-box {
    height: 180px;
}
#recent .card-list .card .img-box a {}
#recent .card-list .card .img-box a img { 
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

#recent .card-list .card .content-box {
    padding: 12px;
}
#recent .card-list .card .content-box .title { 
    font-family: 'MB1', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
#recent .card-list .card .content-box .info { 
    font-size: 12px;
    margin-bottom: 10px;
}
#recent .card-list .card .content-box .etc-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#recent .card-list .card .content-box .etc-box .item {}
#recent .card-list .card .content-box .etc-box .item .date { 
    font-size: 14px; 
    color: lightgray;
}
#recent .card-list .card .content-box .etc-box .item a {}

/* 추가 */
.mt_button {
    background-color: rgb(60, 60, 60);
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
    margin-right: 10px; 
}

.material .material_table {
    width: 100%;
    height: 100%;
    max-height: auto;
    background-color: lightgrey;
    color: black;
    text-align: center;
    margin-bottom : 10px;
    border: 5px solid black;
}

.material_table th,.material_table td {
    padding: 10px;
    border: 1px solid #000;
}

#empty {
    text-align: left;
    
}
.content1 {
    height: 100%;
    width: 100%;
    
}
.announcement {
    width: auto;
    height: auto;
}
.menucontent {
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    justify-content: flex-start; 
}
.logo {
    display: flex;
    align-items: center; 
    margin-bottom: 50px; 
    margin-bottom: 0;
    margin-right: auto; 
    color: white; 
    text-decoration: none; 
}
.sidebarbox {
    display: flex; 
    flex-direction: column; 
    flex-shrink: 0; 
    padding: 15px; 
}    