/* 글씨체 */
@font-face {
    font-family: 'MB1';
    src: url('MClassic_TTF.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BRUSHSCI';
    src: url('BRUSHSCI_TTF.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
h2.py-1 {
    font-family: '굴림체', sans-serif; 
    font-weight: bold; 
    font-size: 40px; 
    
}
h2.py-3 {
    font-family: '굴림체', sans-serif; 
    font-weight: bold; 
    font-size: 40px; 
    
}

  

header {

}

body {
   
}
footer {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 0px;
    background-color: #232323;
    padding: 50px 0px 20px;
    color: white;
}

footer .info {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer .copy { 
    text-align: center; 
}

.topmenubar {
    background-color: rgb(46, 46, 46);
    
}
.sidebarbox {
    background: linear-gradient(to right, rgb(67, 193, 231), rgb(213, 227, 231));
}
.sidebarbox {
    position: relative;
    width: 240px;
    height: 100vh;
}
.sidebar {
    width: 240px;
    height: 100vh;
}
.announcement .ann {
    width: 900px;
    height: 300px;
    justify-content: center;
    padding: 0 50px;
}

/* section - recent */
#recent { background-color: var(--main); }
#recent .card-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
}
#recent .card-list .card {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#recent .card-list .card .img-box {
    height: 180px;
}
#recent .card-list .card .img-box a {}
#recent .card-list .card .img-box a img { 
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

#recent .card-list .card .content-box {
    padding: 12px;
}
#recent .card-list .card .content-box .title { 
    font-family: 'MB1', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
#recent .card-list .card .content-box .info { 
    font-size: 12px;
    margin-bottom: 10px;
}
#recent .card-list .card .content-box .etc-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#recent .card-list .card .content-box .etc-box .item {}
#recent .card-list .card .content-box .etc-box .item .date { 
    font-size: 14px; 
    color: lightgray;
}
#recent .card-list .card .content-box .etc-box .item a {}


/* 주문 관리 페이지 시작 */
.om_body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 50px;
    padding: 50px;
    width: 1000px;
    height:750px;
}

.om_container {
    max-width: 800px;
    margin: 0 auto;
    width: 800px;
    
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.om_search-container {
    text-align: center;
    margin-bottom: 20px;
}

.om_search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.om_search-button {
    background-color: black; 
    color: white; 
    border: 2px solid #3498db;  
    border-radius: 8px; 
    padding: 10px 15px; 
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s; 
}
.om_search-button:hover {
    background-color: #2c5e80; 
    color: #fff; 
}

.om_post-list {
    list-style: none;
    padding: 0;
    max-height: 400px; 
    overflow-y: auto; 
}

.om_post-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.om_post-item h2 {
    color: black;
}

.om_post-button {
    background-color: black; 
    color: white; 
    border: 2px solid #3498db; 
    border-radius: 8px; 
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s; 
}

.om_post-button:hover {
    background-color: #2c5e80; 
    color: #fff; 
}
/* 주문 관리 페이지 마지막 */